
@{
    ViewData["Title"] = "Storage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css">
<div class="container body-content">
    <h4>Free Space in File Groups</h4>
    <div class="text-center"><img src="~/static/content/spinner.gif" id="fileGroupsSpinner" /></div>
    <div>
        <table class="table table-bordered table-condensed table-hover col-md-6" id="fileGroupsTable" style="visibility:hidden">
            <thead><tr><th>File group</th><th>Free space</th></tr></thead>
            <tbody id="FileGroupsBody">
                <!-- <tr><td>PRIMARY</td><td>0.9521484375</td></tr> -->
                <!-- GetFileGroup() -->
            </tbody>
        </table>
    </div>
    <br>
    <h4>Free Space in Data Files</h4>
    <div class="text-center"><img src="~/static/content/spinner.gif" id="dataFilesSpinner" /></div>
    <table class="table table-bordered table-condensed table-hover col-md-6" id="dataFilesTable" style="visibility:hidden">
        <thead><tr><th>File group</th><th>File</th><th>Used space</th><th>Max size</th><th>Free space</th></tr></thead>
        <tbody id="DataFilesBody">
            <!-- GetDataFile() -->
        </tbody>
    </table>
</div>

    <script src="js/storage.js"></script>

