
@{
    ViewData["Title"] = "Storage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css">
<div class="container body-content">
    <h4>Доступное место в файловых группах</h4>
    <div>
        <table class="table table-bordered table-condensed table-hover col-md-6">
            <thead><tr><th>Файловая группа</th><th>Доступно в ГБ</th></tr></thead>
            <tbody id="FileGroupsTable">
                <!-- <tr><td>PRIMARY</td><td>0.9521484375</td></tr> -->
                <!-- GetFileGroup() -->
            </tbody>
        </table>
    </div>
    <br>
    <h4>Доступное место на файлах данных</h4>
    <table class="table table-bordered table-condensed table-hover col-md-6">
        <thead><tr><th>Файловая группа</th><th>Файл</th><th>Размер в ГБ</th><th>Макс. размер в ГБ</th><th>Доступно в ГБ</th></tr></thead>
        <tbody id="DataFilesTable">
            <!-- GetDataFile() -->
        </tbody>
    </table>
</div>

    <script src="js/storage.js"></script>
    <script src="static/scripts/jquery-1.10.2.js"></script>


