<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBA Reports</title>
    <link rel="shortcut icon" href="~/static/content/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/static/content/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/static/content/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/static/content/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/static/content/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/static/content/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/static/content/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/static/content/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/static/content/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/static/content/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="~/static/content/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="~/static/content/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/static/content/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="~/static/content/android-chrome-192x192.png" sizes="192x192">
    <meta name="msapplication-square70x70logo" content="~/static/content/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="~/static/content/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="~/static/content/widetile.png" />
    <meta name="msapplication-square310x310logo" content="~/static/content/largetile.png" />

    @*<link rel="shortcut icon" href="~/static/favicon.ico" type="image/x-icon">*@
    <title>Filegroups - DBA Report System</title>
    <link rel="stylesheet" type="text/css" href="~/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/static/content/site.css" />



</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <!--class="container"-->
            <div class="navbar-header"  <i class="glyphicon glyphicon-download"></i>
            
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"> DBA-RC </a>
            </div>
                     @await Component.InvokeAsync("ShowServers")                                    
            </div>
        </div>
    </div>

    <br />
    @*<div class="container body-content">*@

    <!-- CONTENT -->
    @RenderBody()

    @*</div>*@

    <br />

    <footer>
        <p>&nbsp;&nbsp;&copy; @DateTime.Now.Year.ToString() - Created by Anton Zhivnov</p>
    </footer>



    <script src="fancybox/jquery.min.js"></script> 
    <script src="~/static/scripts/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="fancybox/jquery.fancybox.css">
    <script src="fancybox/jquery.fancybox.js"></script>
    <script src="code-prettify/loader/run_prettify.js?lang=sql"></script> 

    <link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css">


    @RenderSection("Scripts", required: false)
</body>
</html>

