@model IEnumerable<DbaRC.Models.Session>

@{
    ViewData["Title"] = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--подкючаем jquery-->
<script src="fancybox/jquery.min.js"></script>

<!--подкючаем fancybox-->
<link rel="stylesheet" type="text/css" media="all" href="fancybox/jquery.fancybox.css">
<script src="fancybox/jquery.fancybox.js"></script>

<!--подкючаем bootstrap-->
<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet" />-->
<!--подкючаем code-prettify-->
<script src="code-prettify/loader/run_prettify.js?lang=sql"></script> <!-- &amp;skin=desert -->
<!--подкючаем дополнительные стили-->
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css">


<h4>Active Sessions</h4>
@*<div class="text-center"><p>Время:<input type="time" name="selected_time" list="time-list"><input type="submit" value="🔍"></p></div>*@
<br />
<div class="text-center" ><img src="~/static/content/spinner.gif" id="spinner"/></div>
<table class="table table-bordered table-condensed table-hover" id="sessions-table" style="visibility:hidden">
    <thead> <tr><th>Duration</th><th>DB</th><th>SPID</th><th>Server Name</th><th>Login</th><th>Block source id</th><th>Blocked count</th><th>Block info</th><th>Service</th><th>CPU</th><th>Logical reads</th><th>Physical reads</th><th>Writes</th><th>RAM Used</th><th>SQL batch</th>	<th>SQL query	</th><th>Query Plan</th><th>Status</th><th>Percent</th></tr> </thead>
    <tbody>
        <!-- GetSessions() -->
    </tbody>
</table>

<script src="js/guid.js"></script>
<script src="js/downloadFile.js"></script>
<script src="js/sessions.js"></script>


