@model IEnumerable<Setting>
@{
    ViewData["Title"] = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">

              @foreach (var item in Model.Where(u => u.Type.Contains("Dashboard")))
              {
                  @Html.Raw(@item.ConnectionString)
              }
</div>