@model IEnumerable<DbaReports.Models.Backup>

@{
    ViewData["Title"] = "Бекапы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css">

<div class="container body-content">

    <h4 align="center">Список бекапов</h4>
    <br />
    <table class="table table-bordered table-condensed table-hover  col-md-6">
        <thead><tr><th>База данных</th><th>Дата последнего бекапа</th><th>Тип бекапа</th><th>Адрес бекапа</th></tr></thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DBName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfLastBackup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.backup_type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Physical_Device_name)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script src="static/scripts/jquery-1.10.2.js"></script>