@model IEnumerable<WebApplication8.Models.Session>

@{
    ViewData["Title"] = "Sessions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--подкючаем jquery-->
<script src="fancybox/jquery.min.js"></script>

<!--подкючаем fancybox-->
<link rel="stylesheet" type="text/css" media="all" href="fancybox/jquery.fancybox.css">
<script src="fancybox/jquery.fancybox.js"></script>

<!--подкючаем bootstrap-->
<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" rel="stylesheet" />-->

<!--подкючаем code-prettify-->
<script src="code-prettify/loader/run_prettify.js?lang=sql"></script> <!-- &amp;skin=desert -->
<!--подкючаем дополнительные стили-->
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css">


<h4>Активные сессии</h4>
<br />

<table class="table table-bordered table-condensed table-hover">
    <thead> <tr><th>дд чч:мм:сс.мсс</th><th>БД</th><th>ИД Сессии</th><th>Имя сервера</th><th>Логин</th><th>ИД блокирующей сессии</th><th>Кол-во заблокированных сессий</th><th>Информация о блокировке</th><th>Программа</th><th>CPU</th><th>Логических чтений</th><th>Физических чтений</th><th>Записей</th><th>SQL пакет</th>	<th>SQL запрос	</th><th>План запроса</th><th>Статус</th><th>Процент выполнения</th></tr> </thead>
    <tbody>
        <!-- GetSessions() -->
    </tbody>
</table>

<script src="js/guid.js"></script>
<script src="js/downloadFile.js"></script>
<script src="js/sessions.js"></script>


