@model WebApplication8.Models.Session

    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4></h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Название модели:</dt>
                <dd>@Html.DisplayFor(model => model.SqlCommand)</dd>
            </dl>
        </div>
    </div>